<div class="container">

  <!-- we created 2 costum Emmiters in cockpit. When clicked on those they trigger
  onServerAdded for example , filling it with data and isnerting it into array. OUTPUT-->

  <app-cockpit
    [message] = "message"
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"
  ></app-cockpit>

  <hr>

  <div class="row">
    <div class="col-xs-12">

      <button class="btn btn-success" (click)="onChangeFirst()">Change first component</button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first Component</button>
      <br><br>
      <!--  we write data from our array inside element model , this is why it is input-->

      <app-server-element
        *ngFor="let serverElement of serverElements"
        [element]="serverElement"
        [name] = "serverElement.name"
      >
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'"
                  style="color: red">{{ serverElement.content }}</strong>
          <strong *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</strong>
        </p>

      </app-server-element>

    </div>
  </div>

<div class="row assigment">
  <div class="col-xs-12">
    <hr>
    <h2>Assigment</h2>
    <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
    <br>
    <!-- output data of we gave from parent component to child odd and even components -->

    <div class="row">
      <!-- loop our number array and pass odd ones to child Input -->
      <app-odd  *ngFor="let num of oddNumbers" [number]="num" ></app-odd>
      <app-even *ngFor="let num of evenNumbers" [number]="num"></app-even>
    </div>

  </div>


</div>


</div>


